.glyphicon-size {
    font-size: 25px;
    line-height: 34px;
}

.progress-size {
    height: 34px;
}

.note-title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: maroon;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.footer-container {
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding-top: 20px;
    padding-bottom: 20px;
}

.guest-info-form {
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #c6c7cc;
    background: rgba(0, 0, 0, 0.07);
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 7px 0px 50px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 7px 0px 50px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 7px 0px 50px -6px rgba(0, 0, 0, 0.3);
}

.control-label-text {
    line-height: 34px;
}

.show-grid {
    margin-bottom: 20px;
}